/* VARS */
* {
  box-sizing: border-box;
}
.footer {
  width: 100%;
  padding-bottom: 107px;
  background-color: #21b697;
  border-top: 5px solid #062033;
  opacity: 0.9;
}
.footer .container {
  position: relative;
  z-index: 1;
  padding-top: 98px;
}
.footer .container .footer-content-wrapper {
  display: flex;
  flex-direction: column;
  text-align: center;
  flex-wrap: wrap;
}
@media (min-width: 1200px) {
  .footer .container .footer-content-wrapper {
    flex-direction: row;
    justify-content: space-between;
    padding-right: 45px;
    text-align: left;
  }
}
.footer .container .footer-content-wrapper .footer-title-block {
  margin-bottom: 30px;
}
@media (min-width: 1200px) {
  .footer .container .footer-content-wrapper .footer-title-block {
    margin-bottom: 0;
    margin-right: 13px;
  }
}
.footer .container .footer-content-wrapper .footer-title-block h2 {
  margin: 0;
  color: #ffffff;
  font-family: 'Pacifico', cursive;
  font-size: 28px;
  font-weight: 400;
  letter-spacing: 0.4px;
  margin-bottom: 33px;
}
.footer .container .footer-content-wrapper .footer-title-block p {
  color: #ffffff;
  font-family: 'Open Sans', sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 24px;
}
.footer .container .footer-content-wrapper .footer-subscribe-block {
  margin-bottom: 30px;
}
@media (min-width: 1200px) {
  .footer .container .footer-content-wrapper .footer-subscribe-block {
    padding-top: 9px;
    margin-bottom: 0;
  }
}
.footer .container .footer-content-wrapper .footer-subscribe-block h2 {
  margin: 0;
  opacity: 0.8;
  color: #ffffff;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
  margin-bottom: 10px;
}
@media (min-width: 1200px) {
  .footer .container .footer-content-wrapper .footer-subscribe-block h2 {
    margin-bottom: 41px;
  }
}
.footer .container .footer-content-wrapper .footer-subscribe-block .subscribeBox {
  position: relative;
}
.footer .container .footer-content-wrapper .footer-subscribe-block .subscribeBox form {
  margin-bottom: 16px;
}
.footer .container .footer-content-wrapper .footer-subscribe-block .subscribeBox form input {
  width: 100%;
  height: 46px;
  transition: all 0.3s ease;
  border: 2px solid #ffffff;
  outline: none;
  border-radius: 5px;
  background-color: #1ea78d;
  color: white;
  padding-left: 20px;
}
@media (min-width: 1200px) {
  .footer .container .footer-content-wrapper .footer-subscribe-block .subscribeBox form input {
    width: 271px;
  }
}
.footer .container .footer-content-wrapper .footer-subscribe-block .subscribeBox form input:focus {
  border-color: #062033;
  box-shadow: 0 0 8px 0 #062033;
  color: #062033;
  background-color: white;
}
.footer .container .footer-content-wrapper .footer-subscribe-block .subscribeBox form input:focus + i {
  color: #062033;
}
.footer .container .footer-content-wrapper .footer-subscribe-block .subscribeBox form i {
  font-size: 20px;
  position: absolute;
  right: 0;
  top: 0;
  padding: 14px 14px;
  color: white;
  transition: all 0.3s ease;
  cursor: pointer;
}
.footer .container .footer-content-wrapper .footer-subscribe-block p {
  color: #ffffff;
  font-family: 'Open Sans', sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 24px;
}
@media (min-width: 1200px) {
  .footer .container .footer-content-wrapper .footer-explore-block {
    padding-top: 9px;
    margin-right: 10px;
  }
}
.footer .container .footer-content-wrapper .footer-explore-block h2 {
  margin: 0;
  opacity: 0.8;
  color: #ffffff;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
  margin-bottom: 10px;
}
@media (min-width: 1200px) {
  .footer .container .footer-content-wrapper .footer-explore-block h2 {
    margin-bottom: 30px;
  }
}
.footer .container .footer-content-wrapper .footer-explore-block .explore-list {
  list-style: none;
  margin: 0;
  padding: 0;
}
.footer .container .footer-content-wrapper .footer-explore-block .explore-list li {
  display: inline;
  padding: 8px;
}
@media (min-width: 1200px) {
  .footer .container .footer-content-wrapper .footer-explore-block .explore-list li {
    display: block;
    padding: 0;
  }
}
.footer .container .footer-content-wrapper .footer-explore-block .explore-list li a {
  text-decoration: none;
  color: #ffffff;
  font-family: 'Open Sans', sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 32px;
}
.footer .container .footer-content-wrapper .footer-explore-block .explore-list li a:hover {
  color: #062033;
}
@media (min-width: 1200px) {
  .footer .container .footer-content-wrapper .footer-firms-block {
    padding-top: 63px;
    margin-right: 39px;
  }
}
.footer .container .footer-content-wrapper .footer-firms-block .firms-lst {
  list-style: none;
  margin: 0;
  padding: 0;
}
.footer .container .footer-content-wrapper .footer-firms-block .firms-lst li {
  display: inline;
  padding: 8px;
}
@media (min-width: 1200px) {
  .footer .container .footer-content-wrapper .footer-firms-block .firms-lst li {
    display: block;
    padding: 0;
  }
}
.footer .container .footer-content-wrapper .footer-firms-block .firms-lst li a {
  text-decoration: none;
  color: #ffffff;
  font-family: 'Open Sans', sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 32px;
}
.footer .container .footer-content-wrapper .footer-firms-block .firms-lst li a:hover {
  color: #062033;
}
.footer .container .footer-content-wrapper .footer-copyright-block {
  padding-top: 64px;
}
.footer .container .footer-content-wrapper .footer-copyright-block .copyright-with-heart {
  margin-bottom: 49px;
  font-family: 'Open Sans', sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 24px;
  color: #ffffff;
  padding-left: 15px;
}
@media (min-width: 1200px) {
  .footer .container .footer-content-wrapper .footer-copyright-block .copyright-with-heart {
    border-left: 1px solid #062033;
  }
}
.footer .container .footer-content-wrapper .footer-copyright-block .copyright-with-heart i {
  color: #0feb9e;
  display: inline-block;
  padding-left: 10px;
  padding-right: 10px;
}
.footer .container .footer-content-wrapper .footer-copyright-block .copyright-with-heart span {
  font-family: 'Open Sans', sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 24px;
  color: #062033;
}
.footer .container .footer-content-wrapper .footer-copyright-block .copyright-with-year {
  font-family: 'Open Sans', sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 24px;
  color: #062033;
  padding-left: 12px;
}
